#login
  .background
    top 0
    z-index 4
    width 100%
    height 100%
    opacity 0.94
    position fixed
    display none
    background-color $backgroundcolor
  .login
    top 25%
    right 0
    left 0
    bottom 10%
    z-index 4
    width 360px
    height max-content
    display none
    overflow auto
    position fixed
    margin 0 auto
    box-shadow 0 3px 6px rgba(0, 0, 0, 0.16)
    border-radius 20px
    background-color $white
    ::-webkit-scrollbar
      width 0px
      opacity 0
      background rgba(255, 255, 255, 0.0)
    ::-moz-scrollbar
      opacity 0
      width 0px
      background rgba(255, 255, 255, 0.0)
    ::-ms-scrollbar
      opacity 0
      width 0px
      background rgba(255, 255, 255, 0.0)
    ::-o-scrollbar
      opacity 0
      width 0px
      background rgba(255, 255, 255, 0.0)
    p
      color $darkgrey
      font-family 'PT-Sans-Regular'
      font-size 17px
      font-weight 600
      text-align center
      margin-top 40px
    form
      margin 0 auto
      text-align center
      input
        width 296px
        height 40px
        border none
        border-radius 8px
        margin-bottom 10px
        background-color $white
        border 1px solid $bordergrey
      input[type="text"]
        color $darkgrey
        font-family 'PT-Sans-Regular'
        font-size 15px
        font-weight 400
        padding-left 15px
      input[type="password"]
        color $darkgrey
        font-family 'PT-Sans-Regular'
        font-size 15px
        font-weight 400
        padding-left 15px
      .login-button
        margin-top 25px
        margin-bottom 30px
        margin 0 auto
        button
          color #ffffff
          font-size 13px
          font-weight 700
          font-family 'Roboto-Bold'
          background $red
          border-radius 8px
          padding 11px 25px
          margin-top 10px
          margin-bottom 20px
          border none
      a.reg
        color #379af1
        font-family 'PT-Sans-Regular'
        font-size 14px
        font-weight 400
        display block
        margin-bottom 15px
        &:hover
          text-decoration underline
