#order
  width auto
  margin 0 auto
  margin-bottom 575px
  .order-part
    margin-top 50px
    margin-bottom 25px
    text-align center
    h1
      color $darkgrey
      font-size 35px
      font-family 'OpenSans-Bold'
      letter-spacing 2px
      text-transform uppercase
      margin-bottom 35px
  .order-cantainer
    max-width 822px
    margin 0 auto
    display flex
    justify-content center
    .orders
      display inline-block
      .address-block
        width 612px
        height 74px
        box-shadow 0 6px 6px rgba(0, 0, 0, 0.04)
        border-radius 8px
        background-color #ffffff
        margin 0 auto
        margin-bottom 30px
        display flex
        align-items center
        p.choose-address
          margin-left 30px
          color $darkgrey
          font-size 17px
          font-weight 600
          font-family 'OpenSans'
        p.address
          margin-left 45px
          color $darkgrey
          font-size 15px
          font-weight 400
          font-family 'PT-Sans-Regular'
        a.change
          margin-left auto
          margin-right 32px
          color $darkgrey
          font-size 13px
          font-weight 400
          font-family 'PT-Sans-Regular'
          text-decoration underline
      .order-details
        min-width 612px
        margin-bottom 25px
        height max-content
        box-shadow 0 6px 6px rgba(0, 0, 0, 0.04)
        border-radius 8px
        background-color $white
        .flex-profile
          display flex
          padding 8.5px 0
          .active
            display block
          .main-fields
            width 100%
            margin-left 30px
            height auto
            .parts
              width 100%
              display flex
              p
                color $darkgrey
                font-family 'OpenSans'
                font-size 17px
                font-weight 600
              p.address
                margin-left 25px
              .repeat
                display block
                // float right
                // margin-top -35px
              a
                margin-left auto
                margin-right 32px
                margin-top 21px
                display none
                color $darkgrey
                font-size 13px
                font-weight 400
                font-family 'OpenSans'
                text-decoration underline
            .body-order
              display none
              .login, .password, .change-order
                p
                  color $darkgrey
                  font-family 'OpenSans'
                  font-size 17px
                  font-weight 600
                  margin-bottom 10px
                input
                  width 296px
                  height 40px
                  border none
                  border-radius 8px
                  background-color $white
                  border 1px solid $bordergrey
                input[type="text"]
                  color $darkgrey
                  font-family 'PT-Sans-Regular'
                  font-size 15px
                  font-weight 400
                  padding-left 15px
                label
                  cursor pointer
                  -webkit-transition all,0.3s
                  -o-transition all,0.3s
                  transition all,0.3s
                  display flex
                  align-items center
                  justify-content space-between
                  width 296px
                  height 40px
                  border none
                  border-radius 8px
                  background-color white
                  border 1px solid #e5edec
                  input.input
                    display none
                  .action
                    color $darkgrey
                    font-family 'PT-Sans-Regular'
                    font-size 15px
                    font-weight 400
                    padding-left 15px
                  i.fa
                    margin-right 10px
                .active
                  background-color $bordergrey
                  border 1px solid $bordergrey
              .login
                input
                  width 535px
                  height 40px
                  border none
                  border-radius 8px
                  background-color $backgroundgrey
              .password
                margin-top 25px
                input
                  margin-bottom 10px
              .comments
                margin-top 30px
              textarea
                width 535px
                height 85px
                outline none
                border 1px solid $bordergrey
                border-radius 8px
                background-color $white
                border 1px solid $bordergrey
                resize none
              textarea[type="text"]
                color $darkgrey
                font-family 'PT-Sans-Regular'
                font-size 15px
                font-weight 400
                padding-top 10px
                padding-left 15px
              .next
                margin-top 15px
                margin-bottom 20px
                button
                  border none
                  color #ffffff
                  font-size 13px
                  font-weight 700
                  font-family 'Roboto-Bold'
                  background $red
                  border-radius 8px
                  padding 11px 25px
            .active
              display block
      .order-other
        min-width 612px
        height 74px
        display flex
        align-items center
        margin-top 25px
        box-shadow 0 6px 6px rgba(0, 0, 0, 0.04)
        border-radius 8px
        background-color $white
        p
          margin-left 30px
          color $darkgrey
          font-family 'OpenSans'
          font-size 17px
          font-weight 600
    .order-block
      min-width 377px
      width 377px
      margin-left 22px
      height max-content
      background-color $backgroundgrey
      border-radius 8px
      border 1px solid $bordergrey
      .inside-block
        width 310px
        margin 35px auto
        h1
          color $darkgrey
          font-size 15px
          font-family 'OpenSans-Bold'
          letter-spacing 1px
          margin-top 0
          text-transform uppercase
        .goods-shipping-discount
          .good
            display flex
            justify-content space-between
            p.descrip
              color $darkgrey
              font-family 'Roboto-Bold'
              font-size 14px
              font-weight 700
            p.prise
              color $darkgrey
              font-family 'PT-Sans-Regular'
              font-size 14px
              font-weight 400
          .line
            width 100%
            border 0.5px solid #707070
            opacity 0.15
            margin-top -10px
      p.price
        color $darkgrey
        font-family 'OpenSans-Bold'
        font-size 17px
        font-weight 700
        text-align right
        margin-top 23px
        margin-bottom 0
      p.discont
        color $red
        font-family 'OpenSans-Bold'
        font-size 17px
        font-weight 700
        text-align right
        margin-top 0
      .total-order
        margin-top 25px
        text-align right
        p
          color $darkgrey
          font-family 'OpenSans-Bold'
          font-size 17px
          font-weight 700
          span
            color $darkgrey
            font-family 'OpenSans-Bold'
            font-size 17px
            font-weight 700
      .checkout-order
        text-align right
        margin-top 37px
        margin-bottom 20px
        a
          color #ffffff
          font-size 13px
          font-weight 700
          font-family 'Roboto-Bold'
          background $bordergrey
          border-radius 8px
          padding 11px 25px
