footer
  .block-footer.container
    .footer-left
      a.tel(href="tel:+7 495 500-50-00") +7 495 500-50-00
      br
      a.mail(href="mailto:zakaz@nesuedu.ru") zakaz@nesuedu.ru
      .footer-left-line
      .footer-logo-and-address
        .footer-logo
          a(href="index.html")
            img(src="./dist/img/bottom-logo.svg")
        .address
          p ООО «Несуеду». Адрес: 119017, г. Москва, ул. Пятницкая, д. 37, этаж 2, пом. I, ком.1, офис 56 Режим работы: 7:00 - 24:00 © 2018
    .footer-right 
      .group-links-questions
        p Вопросы
        a Реквизиты
        br
        a Контакты
        br
        a Доставка
        br
        a Оплата
        br
        a Партнеры
        br
        a FAQ
      .group-links-partners
        p Партнеры
        br
        a Метро
        br
        a Лента
        br
        a Вкус Вилл
        br
        a Ашан
      .payment-systems 
      img(src="./dist/img/payment-systems.svg")
script(src="./dist/js/jquery.js")
script(src="./dist/js/slick.js")
script(src="https://api-maps.yandex.ru/2.1/?apikey=1fd05f0d-ab2e-4ac3-b2bd-09a27e84a59d&lang=ru_RU" type="text/javascript")
script(src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src="./dist/js/script.js")
