head
  title  Несу Еду
  meta(charset="utf-8")
  meta(name="keywords" content="")
  meta(name="description" content="")
  //- link(rel="icon" href="static/app/img/favicon.ico" type="image/x-icon")
  link(rel="stylesheet", href="./dist/css/slick.css")
  link(rel="stylesheet", href="./dist/css/style.css")
body
  header
    #header
      .container
        .logo
          a(href="/")
            img(src="./dist/img/logo.svg")
        span из
        .choose-shop
          select
            option METRO
        .search-line
          input(type="text" placeholder="Поиск...")
          .search-menu
            a(href="catalog.html") Каталог
            a(href="#") Помощь
            a(href="#") Доставка
            a(href="#") Скидки 
            a(href="#") Войти
        //- .radius-link
        //-   a(href="#")
        .time-of-delivery
          select
            option Доставим завтра 12:00-14:00
        .basket
          img(src="./dist/img/basket.svg")
          span 15
          a(href="#") Корзина
          .phone
            a(href="tel:+7 495 500-50-00") +7 495 500-50-00
