#login
  .background
  .login
    p Вход на сайт
    form(id="", method="", action="")
      input(type="text" placeholder="Логин") 
      input(type="text" placeholder="Пароль")
      .login-button
        button Вход
      a(href="javascript:openReg()").reg Регистрация на сайте
