//- MODAL
#modal
  .background
  .product-details
    a.close(href="javascript:closeProductDetail()")
    .name
      p Йогурт Landliebe с персиком и маракуйей 3,3% 150 г
    .unit
      p 200г
    .img
      img(src="./dist/img/modal-food.svg")
    .price
      p 56,00
    a.in-basket(href="#") <span><img src="./dist/img/plus.svg"></span> В корзину
    .blocks
      .block-info
        a.active(href="#") Описание
        a(href="#") Состав
        a(href="#") Инфо
        .text
          p Каждый стаканчик Landliebe наполнен невероятно вкусным йогуртом с аппетитными 
            | кусочками спелых фруктов и ягод.В продукции Landliebe нет консервантов и искусственных 
            | красителей, что делает ее такой натурально вкусной.И, конечно же, он сделан с любовью. 
            | Йогурт Landliebe с персиком и маракуйей купить с доставкой в Москве. Вы найдете множество 
            | товаров бренда Landliebe в категории йогурты. Скидки до 50%! Доставка от 2-х часов.
      .block-info-right
        .nutritional-value
          p Пищевая ценность 
            span (100гр)
        .table-haracter
          .block-table
            p Белки 
            .span
              span 10гр
          .line-horizontal
          .block-table
            p Жиры
            .span
              span 20гр
          .line-horizontal
          .block-table
            p Углеводы
            .span
              span 3гр
          .line-horizontal
          .block-table
            p Калорийность 
            .span
              span 940 ккал
