#registration
  .background
  .registration
    p Регистрация
    form(id="", method="", action="")
      input(type="text" placeholder="E-mail") 
      input(type="text" placeholder="Пароль")
      input(type="text" placeholder="Повторите пароль")
      .login-button
        button Регистрация
      a.reg Войти
